{% extends "base.html" %}
{% block title %}{{ current_user.name }}: Games{% endblock %}


{% block main %}
<h1> Welcome: {{ current_user.name }}.  Your games.</h1>
<a href="{{ url_for('upload_new_game') }}">Add Game</a>
<form method="POST" action="{{ url_for('delete_games') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<table>
    <thead>
        <tr><th rowspan="2">Title</th><th rowspan="2">Description</th><th colspan='2'>Actions</th></tr>
        <tr><th>Edit</th><th>Delete</th></tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.description }}</td>
            <td><a href="{{ url_for('update_game',id=game.id) }}">Edit</a></td>
            <td><label for="game_ids">Delete</label><input type='checkbox' name='game_ids' value="{{ game.id }}"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button>Delete</button>
</form>
{% endblock %}