{% extends 'base.html' %}
{% from '_renderfield.html' import renderfield %}
{% block title %}
     Upload Game
{% endblock %}

{% block main %}
 {% if error_message %}
    <h1>{{ error_message }}</h1>
 {% endif %}
    <form method="POST" action="{{ url_for('upload_new_game') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <ul>
            <li>{{ renderfield(form.title) }}</li>
            <li>{{ renderfield(form.description) }}</li>
            <li>{{ renderfield(form.game_rom) }}</li>
        </ul>
        <button>Submit</button>
    </form>
{% endblock %}
