{% extends 'base.html' %}
{% from '_renderfield.html' import renderfield %}
{% block title %}
Upload Game
{% endblock %}

{% macro render_action() %}
{% if id is defined %}
{{ url_for('update_game',id=id) }}
{% else %}
{{ url_for('upload_new_game') }}
{% endif %}
{% endmacro %}

{% macro render_errors(field) %}
<ul>
    {% if field.errors %}
    {% for error in field.errors %}
    {% if error is not mapping %}
    <li>{{ error }}</li>
    {% endif %}
    {% endfor %}
    {% endif %}
</ul>
{% endmacro %}

{% block main %}
<form method="POST" action="{{ render_action() }}" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <ul>
        <li>{{ renderfield(form.title) }}</li>
        <li>{{ renderfield(form.description) }}</li>
        <li>{{ renderfield(form.instructions) }}</li>
        <li>{{ renderfield(form.game_rom) }}</li>
        <li>{{ renderfield(form.emulator_speed) }}</li>
    </ul>

    {{ render_errors(form.key_codes) }}
    <fieldset id='key_code_fields'>
        <legend>Configure Key Codes</legend>
        <p>
            <label for="key_code_autocomplete">Get key code from keypress:</label>
            <input type="checkbox" name="key_code_autocomplete" id="key_code_autocomplete" checked>
            </p>
        <ul>
            {% for field in form.key_codes.entries %}
            <li class='key_code_entry'>
                {{ field.hex_value.label }} {{ field.hex_value }}
                {{ field.key_code.label }} {{ field.key_code }}

                {{ render_errors(field.hex_value) }}
                {{ render_errors(field.key_code) }}


            </li>
            {% endfor %}
        </ul>
    </fieldset>
    <button>Submit</button>
</form>
{% endblock %}

{% block scripts_body %}
<script src="{{ url_for('static',filename='javascript/game_upload_form.js') }}" type="module">
</script>

{% endblock %}