{% extends 'base.html' %}
{% from '_renderfield.html' import renderfield %}
{% block title %}
     Upload Game
{% endblock %}

{% macro render_action() %}
    {% if id is defined %}
        {{ url_for('update_game',id=id) }}
    {% else %}
        {{ url_for('upload_new_game') }}
    {% endif %}
{% endmacro %}

{% macro render_errors(field) %}
    <ul>
    {% if field.errors %} 
        {% for error in field.errors %}
            {% if error is not mapping %}
                <li>{{ error }}</li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
{% endmacro %}

{% block main %}
    <form method="POST" action="{{ render_action() }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <ul>
            <li>{{ renderfield(form.title) }}</li>
            <li>{{ renderfield(form.description) }}</li>
            <li>{{ renderfield(form.game_rom) }}</li>
        </ul>
        {{ render_errors(form.key_codes) }}
        <fieldset>
            <legend>Configure Key Codes</legend>
           
            <ul>
                {% for field in form.key_codes.entries %}
                    <li class='key_code_entry'>
                        {{ field.hex_value.label }} {{ field.hex_value }} 
                        {{ field.key_code.label }} {{ field.key_code }}
                        
                       {{ render_errors(field.hex_value) }}
                       {{ render_errors(field.key_code) }}


                    </li>
                {% endfor %}
            </ul>
            <button id='button_adder'>Add Button</button>
        </fieldset>
        <button >Submit</button>
    </form>
{% endblock %}

{% block scripts_body %} 
<script>
    function newNameString(name,separator,newNumber){
        let parts = name.split(separator);
        //replace number in middle with new number
        parts[1] = newNumber;
        return parts.join(separator); 
    }

    function add_input_field(query){

        const inputContainer = document.querySelector(query);
        const newFields = inputContainer.cloneNode(true);
        //determine how many fields exist
        const newFieldNumber = inputContainer.parentNode.querySelectorAll(query).length;
        console.log(newFields.children);
        for(let i = 0; i < newFields.children.length; i++){
            element = newFields.children[i];
            if(element.hasAttribute('name')){
                element.name = newNameString(element.name,'-',newFieldNumber);
                //remove any user added data
                element.value = '';
            }
            if(element.hasAttribute('id')){
                element.id = newNameString(element.id,'-',newFieldNumber);
            }
            if(element.hasAttribute('for')){
                console.log(element.attributes);
                element.setAttribute('for',newNameString(element.getAttribute('for'),'-',newFieldNumber));
            }
        }
        //add the new element to top
        inputContainer.parentNode.insertBefore(newFields,inputContainer);
        //return the new nodes for futher processing
        return newFields;
    }
    
    //set keycode from button press directly
    const keyCodeInputList = document.querySelector(".key_code_entry").parentNode;
    const keyCodeEndsWith = "key_code";
    //prevent characters from displaying on the field during typing
    keyCodeInputList.addEventListener('keydown',event=>{
        //name ends with key_code
        if(event.target.name.substr(-keyCodeEndsWith.length) == keyCodeEndsWith ){
            event.preventDefault();
        }
    });

    keyCodeInputList.addEventListener('keyup', event =>{
        //name ends with key_code
        if(event.target.name.substr(-keyCodeEndsWith.length) == keyCodeEndsWith ){
            event.target.value = event.which;
        }
       
    });
    
    
    document.getElementById('button_adder').addEventListener('click',(event)=>{
        //prevent form submttions
        event.preventDefault();
        add_input_field('.key_code_entry');
     });
    
    
    
    

</script>

{% endblock %}
